/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;900&family=Red+Hat+Display:wght@400;700&display=swap');

/* Variables */
:root {
    --white: #fff;
    --black: #000;
    --mediumAquamarine: #A8E6CF;
    --lightOlive: #DCEDC1;
    --salmon: #FFD3B6;
    --peach: #FFAAA5;
    --text: 'Red Hat Display', sans-serif;
    --headings: 'Lexend', sans-serif;;
}

html { /* Box Model */
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: var(--text);
}

/* Globals */ 
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4.2rem;
}
h3 {
    font-size: 4;
}
h1, h2, h3, h4 {
    font-family: var(--headings);
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: var(--black);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

[class$="container"] {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
[class$="heading"] {
    text-align: center;
    font-weight: 700;
}
@media (min-width: 768px) {
    [class$="container"] {
      width: 85%;
    }
}
.button {
    padding: 1rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}

/* Header */
.header {
    background-color: var(--mediumAquamarine);
}

@media (min-width: 768px) {
    .header__logo {
        margin: 1rem;
    }
}

.header__logo span {
    font-weight: 900;

}

.header__display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    width: 100%;
}

.navigation__link {
    display: block;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.navigation__link:hover {
    background-color: var(--salmon);
    color: var(--black);
    transition: .3s;
}

@media (min-width: 768px) {
    .header__display {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navigation {
        width: auto;
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    .navigation__link {
        margin-bottom: 0;
    }
}


/* Welcome */

.welcome__heading {
    margin: 0;
    padding: 3rem;
}

.welcome__image {
    border-radius: .3rem;
}

.welcome__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .welcome__display {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5rem;
    }

    .welcome__text {
        text-align: left;
        /* font-size: 2.3rem; */
    }
}

.welcome__button {
    background-color: var(--peach);
    color: var(--white);
    font-weight: 700;
    margin: 1.5rem 0;
}

@media (min-width: 768px) {
    .welcome__button {
        max-width: 25rem;
    }
}

/* Galery */

.galery 
{
    background-color: var(--lightOlive);
    height: 30rem;
}

.galery__heading {
    padding: 3rem 0;
}


/* Footer */
.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 5rem 0;
}

.footer__heading {
  color: #7fffd4;
}

.footer__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
}

@media (min-width: 768px) {
  .footer__display {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 20rem;
}

.footer__image {
  width: 10rem;
}

.footer__image--cuc {
  height: 10rem;
}

.footer__link {
  color: var(--white);
  text-decoration:underline;
  margin: 1rem 0;
}

.footer__description {
  text-align: center;
  margin-top: 5rem;
}

.footer__description span {
  font-weight: 700;
  color: var(--aqua);
}


/* Alerts */
.alert {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    border-radius: .5rem;
    margin: .5rem 0;
}
.success {
    background-color: #168200;
    color: var(--white);
}
.warning {
    background-color: #e8af04;
    color: var(--white);
}
.error {
    background-color: #ff0000;
    color: var(--white);
}

@media (min-width: 768px) {
    .alert {
        width: 60%;
        margin: 1rem auto;
    }
}

/* Global Forms */
.form {
    padding: 2rem;
}

/* .form__label {

} */

.form__input {
    border: none;
    padding: .7rem;
    border-radius: .5rem;
}

/* SignIn Form*/

.signIn {
    margin: 5rem;
}

.signInForm {
    background-color: var(--lightOlive);
    border-radius: .3rem;
}

.signIn__heading {
    margin: 1rem 0 3rem 0;
}

.signIn__label {
    display: block;
    margin-bottom: .3rem;
}

.signIn__input {
    margin-bottom: .3rem;
    width: 100%;
}

.signIn__button {
    background-color: var(--mediumAquamarine);
    font-weight: 700;
    width: 100%;
    border-radius: .5rem;
}

@media (min-width: 1000px) {
    .signInForm {
        width: 70%;
        margin: 0 auto;
    }

    .signIn__fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-bottom: 1rem;
    }

    .signIn__field {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .signIn__label {
        display: inline;
    }
    
    .signIn__input {
        display: inline;
    }

    .signIn__button {
        display: block;
        width: 30rem;
        margin: 0 auto;
    }
}



/* My Pets */

.myPets__selector {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .myPets__selector {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .myPets__display {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
    }
}